<div class="container bg-light rounded">

  <!-- Step 1: Seleccionar Paciente (En caso de Admin) -->
  <div *ngIf="tipoDeUsuario === 'admin' && step === 1" class="container mt-4 step">
    <h3 class="mb-4 text-center">Seleccione un Paciente</h3>
    <div *ngFor="let paciente of pacientes" class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">{{ paciente.nombre }} {{ paciente.apellido }}</h5>
        <p class="card-text">
          <strong>Email:</strong> {{ paciente.email }}
        </p>
        <button class="btn btn-primary" (click)="elegirPaciente(paciente)">Seleccionar Paciente</button>
      </div>
    </div>
  </div>

  <div *ngIf="(tipoDeUsuario !== 'admin' && step === 1) || (tipoDeUsuario === 'admin' && step === 2)"
       class="container mt-4 step">
    <!-- Step 1: Seleccionar Especialidad -->
    <h3 class="mb-4 text-center">Seleccione una Especialidad</h3>
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-wrap justify-content-center">
          <button
            *ngFor="let esp of especialidades"
            class="btn btn-outline-primary m-2 p-2 specialty-btn"
            (click)="elegirEspecialidad(esp)"
          >
            <img
              [src]="traerImagenDeEspecialidad(esp)"
              alt="Especialidad Image"
              class="img-fluid mb-2"
              style="width: 100px; height: 100px; object-fit: cover; border-radius: 8px;"
            />
            <div class="text-center">{{ esp }}</div>
          </button>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="(tipoDeUsuario !== 'admin' && step === 2) || (tipoDeUsuario === 'admin' && step === 3)"
       class="container mt-4">
    <!-- Step 2: Seleccionar Especialista -->
    <h3 class="mb-4 text-center">Seleccione un Especialista</h3>
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-wrap justify-content-center">
          <button
            *ngFor="let especialista of especialistas"
            class="btn btn-outline-primary m-2 p-2 specialist-btn"
            (click)="elegirEspecialista(especialista)"
          >
            <div class="text-center">{{ especialista.nombre }} {{ especialista.apellido }}</div>
            <img
              [src]="especialista.imagenUno || 'default-profile-image-url.jpg'"
              alt="Especialista Image"
              class="img-fluid mb-2"
              style="width: 100px; height: 100px; object-fit: cover; border-radius: 8px;"
            />

          </button>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="(tipoDeUsuario !== 'admin' && step === 3) || (tipoDeUsuario === 'admin' && step === 4)"
       class="container mt-4">
    <!-- Step 3: Seleccionar día -->
    <h3 class="mb-4 text-center">Seleccione un Día</h3>
    <div class="d-flex flex-wrap justify-content-center">
      <button
        *ngFor="let date of traerFechas()"
        class="btn btn-outline-info m-2 p-2 day-btn"
        (click)="seleccionarFecha(date)"
      >
        {{ date | date: 'dd \'de\' MMMM' | titlecase }}
      </button>
    </div>
  </div>

  <div *ngIf="(tipoDeUsuario !== 'admin' && step === 4) || (tipoDeUsuario === 'admin' && step === 5)"
       class="container mt-4">
    <!-- Step 4: Seleccionar bloque de tiempo -->
    <h3 class="mb-4 text-center">Seleccione un Horario</h3>
    <div class="d-flex flex-wrap justify-content-center">
      <button
        *ngFor="let slot of traerBloquesPorFecha(fechaSeleccionada)"
        class="btn btn-outline-success m-2 p-2 time-slot-btn"
        (click)="seleccionarBloque(slot)"
      >
        {{ slot.hora }}
      </button>
    </div>
  </div>


  <div *ngIf="(tipoDeUsuario !== 'admin' && step === 5) || (tipoDeUsuario === 'admin' && step === 6)"
       class="container mt-4">
    <!-- Step 5: Confirmar Turno -->
    <h3 class="mb-4 text-center">Confirmar Turno</h3>
    <div class="card">
      <div class="card-body">
        <p><strong>Especialidad:</strong> {{ especialidadSeleccionada }}</p>
        <p>
          <strong>Especialista:</strong>
          {{ especialistaSeleccionado?.nombre }} {{ especialistaSeleccionado?.apellido }}
        </p>
        <p>
          <strong>Fecha:</strong> {{ bloqueSeleccionado?.fecha | date: 'fullDate' }}
        </p>
        <p><strong>Hora:</strong> {{ bloqueSeleccionado?.hora }}</p>
        <div class="text-center mt-4">
          <button class="btn btn-primary m-2" (click)="confirmarTurno()">
            Confirmar
          </button>
          <button class="btn btn-secondary m-2" (click)="resetSelections()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
