<div class="container py-4">

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-2 pb-5">
      <h1 class="display-4 fw-normal">Listado de Usuarios</h1>

      <div class="scrollable-table">
        <app-tabla-usuarios></app-tabla-usuarios>
      </div>

    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <h2>Alta Usuario</h2>
        <p>
          Que tipo de usuario quieres crear?
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <h2>Formulario alta usuario</h2>
        <p>Acá iría el form</p>
      </div>
    </div>
  </div>

</div>
