<div class="container mt-4">
  <h3 class="mb-4 text-center">Mis Turnos</h3>

  <!-- Input del filtro -->
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      [placeholder]="getFilterPlaceholder()"
      [(ngModel)]="textoParaFiltrar"
      (input)="alCambiarElFiltro()"
    />
  </div>

  <!-- Grilla de turnos -->
  <div class="row">
    <div *ngFor="let turno of turnosFiltrados" class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100" [appHighlightEstado]="turno.estado">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ turno.especialidad }}</h5>
          <p class="card-text">
            <ng-container *ngIf="tipoDeUsuario === 'paciente'">
              <strong>Especialista:</strong> {{ turno.especialistaNombre }}<br/>
            </ng-container>
            <ng-container *ngIf="tipoDeUsuario === 'especialista'">
              <strong>Paciente:</strong> {{ turno.pacienteNombre }}<br/>
            </ng-container>
            <strong>Fecha:</strong> {{ turno.fecha | date: 'fullDate' | titlecase }}<br/>
            <strong>Hora:</strong> {{ turno.hora }}<br/>
            <strong>Estado:</strong>
            <span [ngClass]="getEstadoClass(turno.estado)">
              {{ turno.estado | titlecase }}
            </span>
          </p>

          <!-- Actions -->
          <div class="mt-auto">
            <!-- Actions for Admin -->
            <ng-container *ngIf="tipoDeUsuario === 'admin'">
              <!-- Cancelar turno -->
              <button
                *ngIf="puedeCancelarTurnoAdmin(turno)"
                class="btn btn-danger btn-sm m-1"
                (click)="cancelarTurnoAdmin(turno)"
              >
                Cancelar
              </button>
            </ng-container>

            <!-- Actions for Paciente -->
            <ng-container *ngIf="tipoDeUsuario === 'paciente'">
              <!-- Cancelar turno -->
              <button
                *ngIf="puedeCancelTurno(turno)"
                class="btn btn-danger btn-sm m-1"
                (click)="puedeCelarTurno(turno)"
              >
                Cancelar
              </button>

              <!-- Ver reseña -->
              <button
                *ngIf="puedeVerResena(turno)"
                class="btn btn-info btn-sm m-1"
                (click)="verResena(turno)"
              >
                Ver Reseña
              </button>

              <!-- Completar encuesta -->
              <button
                *ngIf="puedeCompletarEncuesta(turno)"
                class="btn btn-success btn-sm m-1"
                (click)="completarEncuesta(turno)"
              >
                Completar Encuesta
              </button>

              <!-- Calificar Atención -->
              <button
                *ngIf="puedeCalificarAtencion(turno)"
                class="btn btn-primary btn-sm m-1"
                (click)="calificarAtencion(turno)"
              >
                Calificar Atención
              </button>
            </ng-container>

            <!-- Actions for Especialista -->
            <ng-container *ngIf="tipoDeUsuario === 'especialista'">
              <!-- Cancelar turno -->
              <button
                *ngIf="puedeCancelarTurnoEsp(turno)"
                class="btn btn-danger btn-sm m-1"
                (click)="cancelarTurnoEsp(turno)"
              >
                Cancelar
              </button>

              <!-- Rechazar turno -->
              <button
                *ngIf="puedeRechazarTurno(turno)"
                class="btn btn-warning btn-sm m-1"
                (click)="rechazarTurno(turno)"
              >
                Rechazar
              </button>

              <!-- Aceptar turno -->
              <button
                *ngIf="puedeAceptarTurno(turno)"
                class="btn btn-success btn-sm m-1"
                (click)="aceptarTurno(turno)"
              >
                Aceptar
              </button>

              <!-- Finalizar turno -->
              <button
                *ngIf="puedeFinalizarTurno(turno)"
                class="btn btn-primary btn-sm m-1"
                (click)="finalizarTurno(turno)"
              >
                Finalizar
              </button>

              <!-- Ver reseña -->
              <button
                *ngIf="puedeVerResena(turno)"
                class="btn btn-info btn-sm m-1"
                (click)="verResena(turno)"
              >
                Ver Reseña
              </button>

              <!-- Cargar Historia Clínica -->
              <button
                *ngIf="turno.estado === 'realizado' && !turno.historiaClinica"
                class="btn btn-success btn-sm m-1"
                (click)="abrirModalHistoriaClinica(turno)"
              >
                Cargar Historia Clínica
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fullscreen overlay for Encuesta -->
  <div *ngIf="showEncuestaForm" class="overlay">
    <div class="overlay-content">
      <h4>Completar Encuesta</h4>
      <form [formGroup]="encuestaForm" (ngSubmit)="submitEncuesta(selectedTurno)">
        <div class="form-group">
          <label for="puntualidad">¿Cómo calificaría la puntualidad del especialista?</label>
          <input id="puntualidad" type="text" formControlName="puntualidad" class="form-control"
                 placeholder="Puntualidad">
        </div>

        <div class="form-group mt-3">
          <label for="satisfaccion">¿Está satisfecho con la atención recibida?</label>
          <input id="satisfaccion" type="text" formControlName="satisfaccion" class="form-control"
                 placeholder="Satisfacción">
        </div>

        <button type="submit" class="btn btn-primary mt-3" [disabled]="encuestaForm.invalid">Enviar Encuesta</button>
        <button type="button" class="btn btn-secondary mt-3" (click)="cancelEncuesta()">Cancelar</button>
      </form>
    </div>
  </div>
</div>

<!-- Fullscreen overlay for Historia Clinica -->
<div *ngIf="showHistoriaClinicaForm" class="modal-backdrop">
  <div class="modal-content">
    <h4 class="text-center mb-4">Cargar Historia Clínica</h4>
    <form [formGroup]="historiaClinicaForm" (ngSubmit)="submitHistoriaClinica()">
      <!-- Fixed Fields -->
      <div class="form-group">
        <label for="altura">Altura (cm)</label>
        <input id="altura" type="number" formControlName="altura" class="form-control" placeholder="Altura en cm">

        <ng-container *ngIf="altura?.hasError('required') && altura?.touched">
          <small class="text-danger">Este campo es obligatorio  y sólo números</small>
        </ng-container>

        <ng-container *ngIf="altura?.hasError('min')">
          <small class="text-danger">Debe ser mayor de 25 cm</small>
        </ng-container>

        <ng-container *ngIf="altura?.hasError('max')">
          <small class="text-danger">Debe ser menor a 250 cm</small>
        </ng-container>

      </div>
      <div class="form-group mt-3">
        <label for="peso">Peso (kg)</label>
        <input id="peso" type="number" formControlName="peso" class="form-control" placeholder="Peso en kg">

        <ng-container *ngIf="peso?.hasError('required') && peso?.touched">
          <small class="text-danger">Este campo es obligatorio y sólo números</small>
        </ng-container>

        <ng-container *ngIf="peso?.hasError('min')">
          <small class="text-danger">Debe ser mayor a 1 kg</small>
        </ng-container>

        <ng-container *ngIf="peso?.hasError('max')">
          <small class="text-danger">Debe ser menor a 300 kg</small>
        </ng-container>

      </div>
      <div class="form-group mt-3">
        <label for="temperatura">Temperatura (°C)</label>
        <input id="temperatura" type="number" formControlName="temperatura" class="form-control"
               placeholder="Temperatura en °C">

        <ng-container *ngIf="temperatura?.hasError('required') && temperatura?.touched">
          <small class="text-danger">Este campo es obligatorio  y sólo números</small>
        </ng-container>

        <ng-container *ngIf="temperatura?.hasError('min')">
          <small class="text-danger">Debe ser mayor a 25 ºC</small>
        </ng-container>

        <ng-container *ngIf="temperatura?.hasError('max')">
          <small class="text-danger">Debe ser menor a 45 ºC</small>
        </ng-container>

      </div>
      <div class="form-group mt-3">
        <label for="presion">Presión (mmHg)</label>
        <input id="presion" type="text" formControlName="presion" class="form-control"
               placeholder="Presión arterial (mmHg)">

        <ng-container *ngIf="presion?.hasError('required') && presion?.touched">
          <small class="text-danger">Este campo es obligatorio  y sólo números</small>
        </ng-container>

        <ng-container *ngIf="presion?.hasError('pattern')">
          <small class="text-danger">Debe cargasre con el siguiente formato: 120/80</small>
        </ng-container>

      </div>

      <!-- Dynamic Fields -->
      <h5 class="mt-4">Datos Dinámicos (Máximo 3)</h5>
      <div formArrayName="dinamicos">
        <div *ngFor="let field of dinamicos.controls; let i = index" [formGroupName]="i" class="form-group mt-2">
          <label>Campo {{ i + 1 }}</label>
          <div class="d-flex gap-2">
            <input type="text" formControlName="key" class="form-control" placeholder="Clave">
            <input type="text" formControlName="value" class="form-control" placeholder="Valor">
            <button type="button" class="btn btn-danger btn-sm" (click)="eliminarCampoDinamico(i)">X</button>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-secondary mt-3"
        [disabled]="dinamicos.length >= 3"
        (click)="agregarCampoDinamico()"
      >
        Añadir Campo Dinámico
      </button>

      <!-- Submit Buttons -->
      <div class="d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-primary me-2" [disabled]="historiaClinicaForm.invalid">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cerrarModalHistoriaClinica()">Cancelar</button>
      </div>
    </form>
  </div>
</div>


