.img-thumbnail {
  position: relative;
}

.form-control-group {
  display: flex;
  align-items: center;
}

.form-label {
  margin-right: 10px; /* Space between label and radio buttons */
}

.form-check {
  margin-right: 15px; /* Space between each radio button */
}
