<div class="container mt-3">
  <form [formGroup]="formUsuario">
    <div class="form-control-group col-12 d-flex align-items-center">
      <label class="form-label me-3">Selecciona el tipo de usuario:</label>
      <div class="d-flex">
        <div class="form-check d-inline-block me-3">
          <input id="pacienteAdmin" formControlName="tipoDeUsuario" type="radio" class="form-check-input"
                 value="paciente" required>
          <label class="form-check-label" for="pacienteAdmin">Paciente</label>
        </div>
        <div class="form-check d-inline-block me-3">
          <input id="especialistaAdmin" formControlName="tipoDeUsuario" type="radio" class="form-check-input"
                 value="especialista" required>
          <label class="form-check-label" for="especialistaAdmin">Especialista</label>
        </div>
        <div class="form-check d-inline-block">
          <input id="adminAdmin" formControlName="tipoDeUsuario" type="radio" class="form-check-input" value="admin"
                 required>
          <label class="form-check-label" for="adminAdmin">Admin</label>
        </div>
      </div>
    </div>
  </form>
  <h4 class="text-capitalize">{{ tipoDeUsuario }}</h4>

  <ng-container *ngIf="usuariosFiltrados$ | async as usuarios">

    <table class="table table-striped mt-3">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th *ngIf="tipoDeUsuario === 'paciente'">Obra Social</th>
        <th *ngIf="tipoDeUsuario === 'especialista'">Especialidad</th>
        <th>Imagen</th>
        <th *ngIf="tipoDeUsuario === 'especialista'">Verificado</th>
        <th *ngIf="tipoDeUsuario === 'paciente'">Historia Clínica</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.nombre | ucfirst }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.dni }}</td>
        <td *ngIf="tipoDeUsuario === 'paciente'">{{ usuario.obraSocial }}</td>
        <td *ngIf="tipoDeUsuario === 'especialista'">{{ usuario.especialidad?.join(', ') }}</td>
        <td>
          <img alt="imagenUno" *ngIf="usuario.imagenUno" [src]="usuario.imagenUno" class="img-thumbnail" width="50"
               appHoverZoom>
          <img alt="imagenDos" *ngIf="usuario.imagenDos" [src]="usuario.imagenDos" class="img-thumbnail" width="50"
               appHoverZoom>
        </td>
        <td *ngIf="tipoDeUsuario === 'especialista'">
          <input type="checkbox" [checked]="usuario.verificado" (change)="toggleVerificado(usuario)">
        </td>
        <td *ngIf="tipoDeUsuario === 'paciente'">
          <button class="btn btn-info btn-sm" (click)="mostrarHistoriaClinica(usuario)">Mostrar Historia Clínica
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Patient Buttons -->
    <div *ngIf="tipoDeUsuario === 'paciente'" class="d-flex flex-wrap justify-content-center gap-3 mt-4">
      <button
        *ngFor="let paciente of usuarios"
        class="paciente-btn"
        (click)="exportTurnosToExcel(paciente)"
        [style.backgroundImage]="'url(' + paciente.imagenUno + ')'"
      >
        <span class="paciente-nombre">{{ paciente.nombre | ucfirst }}</span>
      </button>
    </div>

  </ng-container>


  <!-- Modal de Historia Clínica -->
  <div *ngIf="mostrarModalHistoriaClinica" class="overlay">
    <div class="overlay-content">
      <h4 class="text-center fs-3 text fw-bold text-primary-emphasis mb-4">Historia Clínica
        de {{ pacienteSeleccionado?.nombre }} {{ pacienteSeleccionado?.apellido }}</h4>

      <!-- Si hay historia clinica -->
      <div *ngIf="historiasClinicas.length > 0; else noHistorias" class="historia-clinica-list">
        <div *ngFor="let historia of historiasClinicas" class="historia-clinica-card">
          <div class="card-body">
            <p><strong>Especialista:</strong> {{ historia.especialistaNombre }}</p>
            <p><strong>Especialidad:</strong> {{ historia.especialidad }}</p>
            <p><strong>Fecha:</strong> {{ historia.fecha | date: 'fullDate' }}</p>
            <p><strong>Hora:</strong> {{ historia.hora }}</p>
            <p><strong>Reseña:</strong> {{ historia['reseña'] }}</p>
            <p><strong>Altura:</strong> {{ historia.altura }} cm</p>
            <p><strong>Peso:</strong> {{ historia.peso }} kg</p>
            <p><strong>Temperatura:</strong> {{ historia.temperatura }} °C</p>
            <p><strong>Presión:</strong> {{ historia.presion }}</p>
            <h6>Datos Dinámicos:</h6>
            <ul>
              <li *ngFor="let dato of historia.dinamicos">
                {{ dato.key }}: {{ dato.value }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Mensaje si no hay historia clinica -->
      <ng-template #noHistorias>
        <p class="text-center  text-danger">No hay historia clínica cargada para este paciente.</p>
      </ng-template>

      <!-- Botón cerrar modal -->
      <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
      </div>

    </div>
  </div>


</div>
