<div class="container bg-light rounded mt-3 p-3">
  <div class="mb-4 text-center">
    <h2>Registro de usuarios</h2>
    <!-- Botones de selección -->
    <div class="d-flex justify-content-center">
      <!-- Paciente Button -->
      <button
        (click)="selectUsuario('paciente')"
        type="button"
        class="btn btn-outline-primary m-2 select-user-button"
      >
        <img
          src="https://firebasestorage.googleapis.com/v0/b/tp2-clinica-online.appspot.com/o/paciente.png?alt=media&token=405c0878-feea-488b-80e0-672a77548204"
          alt="Paciente"
          class="img-fluid user-image"
        >
        <div class="user-type">Paciente</div>
      </button>
      <!-- Especialista Button -->
      <button
        (click)="selectUsuario('especialista')"
        type="button"
        class="btn btn-outline-secondary m-2 select-user-button"
      >
        <img
          src="https://firebasestorage.googleapis.com/v0/b/tp2-clinica-online.appspot.com/o/doctor.png?alt=media&token=37b1cdbf-3218-4591-b921-7c301bb96efb"
          alt="Especialista"
          class="img-fluid user-image"
        >
        <div class="user-type">Especialista</div>
      </button>
    </div>
  </div>

  <!-- Mostrar el formulario basado en la selección -->
  <app-alta-paciente *ngIf="tipoDeUsuario === 'paciente'"></app-alta-paciente>
  <app-alta-especialista *ngIf="tipoDeUsuario === 'especialista'"></app-alta-especialista>
</div>
