.login-form {
  width: 600px;
  max-width: 100%;
}

.btn-primary:hover, .btn-secondary:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container-login {
  height: calc(100vh - 80px);
}


/* Style for quick access buttons */
.quick-access-button {
  width: 85px;
  height: 85px;
  border: none;
  padding: 0;
  background-color: var(--columbia-blue);;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  img {
    width: 35px;
    height: 35px;
  }
}

.quick-access-button:hover {
  background-color: #e9ecef;
  border-radius: 8px;
  transform: scale(1.05);
}

/* Container inside the button */
.quick-access-button .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Style for user images */
.user-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 5px;
}

/* Style for user names */
.user-name {
  font-size: 0.8rem;
  font-weight: normal;
  color: #343a40;
}
