<div class="container">

  <nav class="navbar navbar-expand-sm navbar-light bg-light rounded" aria-label="Eleventh navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">
        <img class="rounded"
             src="https://firebasestorage.googleapis.com/v0/b/tp2-clinica-online.appspot.com/o/logo-nav-bar.png?alt=media&token=f89a9e35-3dfd-4852-a98b-c5dd5a8c9f7f"
             alt="Clinica Online Logo" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
              aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active-route">Home</a>
          </li>

          <ng-container *ngIf="(usuariosService.userData$ | async) as userData">
            <li class="nav-item" *ngIf="userData.isLoggedIn">
              <a class="nav-link" aria-current="page" routerLink="mi-perfil" routerLinkActive="active-route">Mi Perfil</a>
            </li>

            <li class="nav-item" *ngIf="userData.isLoggedIn && userData.tipo !== 'admin'">
              <a class="nav-link" aria-current="page" routerLink="mis-turnos" routerLinkActive="active-route">Mis Turnos</a>
            </li>

            <li class="nav-item" *ngIf="userData.isLoggedIn && userData.tipo !== 'especialista'">
              <a class="nav-link" aria-current="page" routerLink="solicitar-turno" routerLinkActive="active-route">Solicitar Turno</a>
            </li>

            <li class="nav-item" *ngIf="userData.isLoggedIn && userData.tipo === 'admin'">
              <a class="nav-link" aria-current="page" routerLink="usuarios" routerLinkActive="active-route">Usuarios</a>
            </li>

            <li class="nav-item" *ngIf="userData.isLoggedIn && userData.tipo === 'admin'">
              <a class="nav-link" aria-current="page" routerLink="turnos" routerLinkActive="active-route">Turnos</a>
            </li>

            <li class="nav-item" *ngIf="!userData.isLoggedIn">
              <a class="nav-link" aria-current="page" routerLink="login" routerLinkActive="active-route">Iniciar Sesión</a>
            </li>

            <li class="nav-item" *ngIf="!userData.isLoggedIn">
              <a class="nav-link" aria-current="page" routerLink="register" routerLinkActive="active-route">Darse de Alta</a>
            </li>

            <li class="nav-item" *ngIf="userData.isLoggedIn">
              <a class="nav-link" (click)="closeSession()">Cerrar Sesión <span
                class="logged-user">({{ userData.nombre }})</span> </a>
            </li>

          </ng-container>

        </ul>
      </div>
    </div>
  </nav>
</div>


<router-outlet></router-outlet>

